@model IEnumerable<CafeO.Models.OrderDetail>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm())
{<p> Find by user: @Html.TextBox("SearchString") <input type="submit" value="Search" /></p>}

<table class="table">
    <tr>
        <th> @Html.ActionLink("User", "Index", new { sortOrder = ViewBag.UsernameSortParm }) </th>
        <th> @Html.ActionLink("Product Name", "Index", new { sortOrder = ViewBag.ProductSortParm }) </th>
        <th> Quantity </th>
        <th> Amount </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Order.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
        </tr>
    }

</table>
